* {
    margin: 0;
    top: 0;
    font-family: 'Poppins';
}

#navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

#content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* .wa-floating {
    position: fixed;
    bottom: 20px; 
    right: 20px;   
    width: 60px;
    height: 60px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.wa-floating img {
    width: 35px;
    height: 35px;
}

.wa-floating:hover {
    transform: scale(1.1);
    transition: 0.3s;
} */