* {
    margin: 0;
    top: 0;
    font-family: 'Poppins';
}

#navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

#content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}