.top-footer{
    background-color: #303C1B;
    padding: 50px 50px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.judul-footer{
    font-weight: 600;
    padding-bottom: 5px;
}
.footer .footer1{
    display: flex;
    width: 300px;
    flex-direction: column;
}
.footer .footer1 img{
    width: 300px;
}
.footer .footer1 .sosmed{
    display: flex;
    gap: 20px;
}
.footer .footer1 .sosmed i{
    font-size: 25px;
}

.footer .footer2{
    display: flex;
    flex-direction: column;
}
.footer .footer2 a{
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer .footer3{
    display: flex;
    flex-direction: column;
}
.footer .footer3 a{
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer .bottom-footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}