.banner-galeri {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}

.container-galeri {
    padding: 10px 150px;
    text-align: center;
    color: white;
}

.judul-galeri {
    margin-top: 40px;
    color: #10111A;
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.green-text {
    color: #87c51d;
}

.gallery-container {
     background-image: linear-gradient( white, rgb(196, 252, 99), white);
    padding: 40px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-container .gallery-item {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-container .gallery-item img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.caption {
    text-align: center;
    padding-top: 20px;
}

.paginationGaleri {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.page-btn,
.page-number {
    padding: 8px 15px;
    border: none;
    background: #e8e8e8;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.page-number.active {
    background: #71c95b;
    color: white;
    font-weight: bold;
}

button:disabled {
    opacity: 0.4;
    pointer-events: none;
}


@media (max-width: 992px) {
    .banner-galeri {
        padding: 65px 0;
        height: 175px;
    }

    .gallery-container {
        padding: 40px 70px;
    }

    .judul-galeri {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .banner-galeri{
        padding: auto;
        height: 175px;
    }
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 40px;
    }
}

@media (max-width: 480px) {
    .banner-galeri{
        padding: auto;
        height: 175px;
    }
    .gallery-container {
        grid-template-columns: 1fr;
        padding: 20px 20px;
    }
}