.banner-galeri{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
}
.container-galeri{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.gallery-container{
    padding: 40px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.gallery-container .gallery-item{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.gallery-container .gallery-item img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.caption{
    text-align: center;
    padding-top: 20px;
}