.banner-hubungi{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
}
.container-hubungi{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.hubungi-container{
    display: flex;
    padding: 60px 150px;
    gap: 40px;
}

.hubungi-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.hubungi-left img{
    width: 350px;
}

.hubungi-right{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.hubungi-right .judul-contact{
    font-weight: 700;
}

.grid-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    gap: 20px;
}

.grid-contact input {
    width: 100%;
}

.tunggal-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}
@media (max-width: 992px) {
    .hubungi-container{
        flex-direction: column;
        align-items: center;
    }
    .hubungi-left, .hubungi-right{
        width: 100%;
    }
    .hubungi-left img{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .banner-hubungi{
        padding: 120px 0;
        height: 150px;
    }

    .container-hubungi{
        padding: 10px 50px;
    }

    .hubungi-container{
        padding: 20px 50px;
    }
}