.banner-hubungi{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
}
.container-hubungi{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.hubungi-container{
    display: flex;
    padding: 60px 150px;
    gap: 40px;
}

.hubungi-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.hubungi-left img{
    width: 450px;
}

.hubungi-right{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.hubungi-right .judul-contact{
    font-weight: 700;
}

.grid-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
}

.tunggal-contact{
    display: flex;
    flex-direction: column;
    width: 93%;
    padding-bottom: 20px;
}