.banner-praktik{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}
.container-praktik{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}
.praktik1-container{
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.praktik1-left{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.praktik1-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color:black;
}
.praktik1-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    
    color: #87c51d;
}
.praktik1-right img{
    display: flex;
    height: 100%;
    border-radius: 20px;
    
}
.praktik2-container{
     padding: 50px 150px;

}
.praktik2-langkah{
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 80;
    align-items: center;
}

.title-praktik{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}
.subtitle-praktik{
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}
.step{
    display: flex;
    align-items: flex-start;
    width: 85%;
    
}
.circle-praktik{
    
    width: 85px;
    height: 45px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 20px;
    position: relative;
}
.circle-praktik::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 1px;
    height: 65px; 
    background: black;
}
.step:last-child .circle-praktik::after {
    display: none;
}
.step p{
    width: 80%;
    line-height: 1.6;
    color: black;
}
.praktik3-container{
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.praktik3-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}
.praktik3-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}
.praktik3-right{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}
.btn-praktik-hijau{
    padding: 10px 30px;
    
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}

@media (max-width: 992px) {
    .praktik1-left {
        width: 100%;
        
    }
    .praktik1-left h1 {
        font-size: 2.2rem;
    }

    .praktik1-left h1 span {
        font-size: 2.2rem;
    }

    .praktik1-container,
    .praktik2-container,
    .praktik3-container {
        padding: 30px 30px;
    }

    .praktik1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .praktik2-langkah {
        padding: 0px;
    }
    .circle-praktik {

        width: 100px;
        height: 37px;

    }

    .circle-praktik::after {
        height: 100px;
    }
}

@media (max-width: 768px) {
    .praktik1-container,
    .praktik2-container,
    .praktik3-container {
       padding: 30px 30px; 
    }
    .praktik1-left h1 {
        font-size: 2.0rem;
    }

    .praktik1-left h1 span {
        font-size: 2.0rem;
    }
    

    .praktik1-left,
    .praktik1-right {
        width: 100%;
        text-align: center;
    }

    .circle-praktik {

        width: 130px;
        height: 45px;

    }

    .circle-praktik::after {
        height: 110px;
    }

    .praktik3-container {
        display: flex;
        flex-direction: column;
    }

    .praktik3-right,
    .praktik3-left {
        width: 100%;
        text-align: center;
    }
    .praktik3-left h1 {
        font-size: 2.0rem;
    }

    .praktik3-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-praktik {
    padding: 110px 0;
    }

    .container-praktik {
        padding: 10px 15px;
    }

    .praktik1-left h1 {
        font-size: 1.4rem;
    }

    .praktik1-left h1 span {
        font-size: 1.4rem;
    }
    .title-praktik {
        font-size: 22px;

    }

    .subtitle-praktik {
        font-size: 26px;
    }

    .circle-praktik {
        width: 190px;
        height: 28px;
    }

    .circle-praktik::after {
        height: 230px;
    }

    .praktik3-left h1 {
        font-size: 1.6rem;
    }

    .praktik3-left h1 span {
        font-size: 1.6rem;
    }

}


