.banner-penelitian {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
}

.container-penelitian {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.penelitian1-container {
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.penelitian1-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.penelitian1-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.penelitian1-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;

    color: #87c51d;
}

.penelitian1-right img {
    height: 100%;
    border-radius: 10px;

}

.penelitian2-container {
    padding: 50px 150px;

}

.penelitian2-langkah {
    padding: 50px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 80;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.subtitle {
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}

.step {
    display: flex;
    align-items: flex-start;
    width: 85%;

}

.circle {

    width: 85px;
    height: 45px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 20px;
    position: relative;
}

.circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 1px;
    height: 65px;
    background: black;
}

.step:last-child .circle::after {
    display: none;
}

.step p {
    width: 80%;
    line-height: 1.6;
    color: black;
}

.penelitian3-container {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.penelitian3-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.penelitian3-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.penelitian3-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.btn-penelitian-hijau {
    padding: 10px 30px;
    display: flex;
    gap: 45px;


}

.btn-penelitian {
    padding: 10px 30px;
    display: flex;
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .penelitian1-left {
        width: 100%;

    }

    .penelitian1-left h1 {
        font-size: 2.2rem;
    }

    .penelitian1-left h1 span {
        font-size: 2.2rem;
    }

    .penelitian1-container,
    .penelitian2-container,
    .penelitian3-container {
        padding: 30px 30px;
    }

    .penelitian1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .penelitian2-langkah {
        padding: 0px;
    }

    .circle::after {
        height: 100px;
    }

    .penelitian3-left h1 {
        font-size: 2.2rem;
    }

    .penelitian3-left h1 span {
        font-size: 2.2rem;
    }

    .btn-penelitian-hijau {
        padding: 10px 30px;
        display: flex;
        gap: 20px;
    }

    .btn-penelitian {
        width: 210px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .penelitian1-container,
    .penelitian2-container,
    .penelitian3-container {
        padding: 30px 60px;
    }

    .penelitian1-left h1 {
        font-size: 2.0rem;
    }

    .penelitian1-left h1 span {
        font-size: 2.0rem;
    }


    .penelitian1-left,
    .penelitian1-right {
        width: 100%;
        text-align: center;
    }

    .circle {

        width: 130px;
        height: 45px;

    }

    .circle::after {
        height: 137px;
    }

    .penelitian3-container {
        display: flex;
        flex-direction: column;
    }

    .penelitian3-right,
    .penelitian3-left {
        width: 100%;
        text-align: center;
    }

    .penelitian3-left h1 {
        font-size: 2.0rem;
    }

    .penelitian3-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-penelitian {
        padding: 110px 0;
    }

    .container-penelitian {
        padding: 10px 90px;
    }

    .penelitian1-left h1 {
        font-size: 1.6rem;
    }

    .penelitian1-left h1 span {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 32px;
    }

    .circle {
        width: 190px;
        height: 33px;
    }

    .circle::after {
        height: 183px;
    }

    .penelitian3-left h1 {
        font-size: 1.6rem;
    }

    .penelitian3-left h1 span {
        font-size: 1.6rem;
    }

    .btn-penelitian-hijau {
        padding: 10px 30px;
        display: flex;
        gap: 10px;
    }

    .btn-penelitian {
        width: 170px;
        font-size: 10px;
    }
}