.banner-magang{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
}
.container-magang{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}