.banner-magang{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}
.container-magang{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}
.magang1-container{
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.magang1-left{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.magang1-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}
.magang1-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    color:black;
}
.magang1-right img{
    height: 100%;
    border-radius: 10px;
    
}
.magang2-container{
     padding: 50px 150px;

}
.magang2-langkah{
    padding: 50px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 80;
    align-items: center;
    

}

.title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}
.subtitle{
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}
.step{
    display: flex;
    align-items: flex-start;
    width: 85%;
    
}
.circle{
    
    width: 85px;
    height: 45px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 20px;
    position: relative;
}
.circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 1px;
    height: 65px; 
    background: black;
}
.step:last-child .circle::after {
    display: none;
}
.step p{
    width: 80%;
    line-height: 1.6;
    color: black;
}
.magang3-container{
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.magang3-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}
.magang3-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}
.magang3-right{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}
.btn-magang-hijau{
    padding: 10px 30px;
    
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}
