.banner-magang {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}

.container-magang {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.magang1-container {
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.magang1-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.magang1-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.magang1-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}
.magang1-right {
    width: 50%;
    
    
    
}

.magang1-right img {
    height: 100%;
    border-radius: 20px;
    
}

.magang2-container {
    padding: 50px 150px;

}

.magang2-langkah {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 80;
    align-items: center;


}

.title-magang {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.subtitle-magang {
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}

.step {
    display: flex;
    align-items: flex-start;
    width: 90%;

}

.circle-magang {

    width: 85px;
    height: 35px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 20px;
    position: relative;
}

.circle-magang::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 1px;
    height: 80px;
    background: black;
}

.step:last-child .circle-magang::after {
    display: none;
}

.step p {
    width: 80%;
    line-height: 1.6;
    color: black;
}

.magang3-container {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.magang3-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.magang3-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.magang3-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.btn-magang-hijau {
    padding: 10px 30px;

    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}

@media (max-width: 992px) {

    .banner-magang{
        padding: 65px 0;
        height: 175px;
    }

    .magang1-left {
        width: 100%;

    }

    .magang1-left h1 {
        font-size: 2.2rem;
    }

    .magang1-left h1 span {
        font-size: 2.2rem;
    }

    .magang1-container,
    .magang2-container,
    .magang3-container {
        padding: 30px 30px;
    }

    .magang1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .magang2-langkah {
        padding: 0px;
    }

    .circle-magang {

        width: 100px;
        height: 37px;

    }

    .circle-magang::after {
        height: 100px;
    }
}

@media (max-width: 768px) {

    .magang1-container,
    .magang2-container,
    .magang3-container {
        padding: 30px 30px;
    }

    .magang1-left h1 {
        font-size: 2.0rem;
    }

    .magang1-left h1 span {
        font-size: 2.0rem;
    }


    .magang1-left,
    .magang1-right {
        width: 100%;
        text-align: center;
    }

    .circle-magang {

        width: 130px;
        height: 45px;

    }

    .circle-magang::after {
        height: 110px;
    }

    .magang3-container {
        display: flex;
        flex-direction: column;
    }

    .magang3-right,
    .magang3-left {
        width: 100%;
        text-align: center;
    }

    .magang3-left h1 {
        font-size: 2.0rem;
    }

    .magang3-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-magang {
        padding: 65px 0;
        height: 175px;
    }
    

    .container-magang {
        padding: 10px 90px;
    }

    .magang1-left h1 {
        font-size: 1.6rem;
    }

    .magang1-left h1 span {
        font-size: 1.6rem;
    }

    .title-magang {
        font-size: 22px;

    }

    .subtitle-magang {
        font-size: 26px;
    }

    .circle-magang {
        width: 190px;
        height: 28px;
    }

    .circle-magang::after {
        height: 230px;
    }


    .magang3-left h1 {
        font-size: 1.6rem;
    }

    .magang3-left h1 span {
        font-size: 1.6rem;
    }

}