
.banner-magang {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}

.container-magang {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.magang1-container {
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.magang1-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.magang1-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.magang1-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.magang1-right {
    width: 50%;
}

.magang1-right img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: .3s ease;
    cursor: pointer;
}
.magang1-right img:hover{
    transform: scale(1.03);
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  
}


.magang2-container {
    padding: 50px 150px;
    background-image: linear-gradient(to bottom,  white,#F4FFF7,white);
}

.magang2-langkah {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    align-items: flex-start;
}

.title-magang {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.subtitle-magang {
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}

.step-magang {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    
}

.circle-magang {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 25px;
    position: relative;
    flex-shrink: 0;
}

.circle-magang::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 165px;
    background: black;
}

.step-magang:last-child .circle-magang::after {
    display: none;
}

.step-magang-conten {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.4s ease; 
    cursor: pointer;
    transform: translateY(0) scale(1);
}
.step-magang-conten:hover {
    transform: translateY(-8px) scale(1.03); 
    box-shadow: 0 12px 20px rgba(0,0,0,0.25); 
    background-color: #f9f9f9;
}

.step-magang-conten h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.step-magang p {
    width: 100%;
    line-height: 1.6;
    color: black;
}

.magang3-container {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.magang3-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.magang3-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.magang3-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.btn-magang-hijau {
    padding: 10px 30px;
    transition: .3s ease;
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}
.btn-magang-hijau:hover {
    transform: scale(1.05);
    background-color: #435325;
}
.magang3-right a {
    color: white;
    text-decoration: none;
}


@media (max-width: 992px) {

    .banner-magang {
        padding: 65px 0;
        height: 175px;
    }

    .magang1-left {
        width: 100%;

    }

    .magang1-left h1 {
        font-size: 2.2rem;
    }

    .magang1-left h1 span {
        font-size: 2.2rem;
    }

    .magang1-container,
    .magang2-container,
    .magang3-container {
        padding: 30px 30px;
    }

    .magang1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .magang2-langkah {
        padding: 0px 20px;
    }

    .circle-magang {

        width: 35px;
        height: 35px;

    }

    .circle-magang::after {
        height: 170px;
    }
}

@media (max-width: 768px) {

    .magang1-container,
    .magang2-container,
    .magang3-container {
        padding: 30px 30px;
    }

    .magang1-left h1 {
        font-size: 2.0rem;
    }

    .magang1-left h1 span {
        font-size: 2.0rem;
    }


    .magang1-left,
    .magang1-right {
        width: 100%;
        text-align: center;
    }

    .circle-magang {

        width: 35px;
        height: 35px;

    }

    .circle-magang::after {
        height: 225px;
    }

    .magang3-container {
        display: flex;
        flex-direction: column;
    }

    .magang3-right,
    .magang3-left {
        width: 100%;
        text-align: center;
    }

    .magang3-left h1 {
        font-size: 2.0rem;
    }

    .magang3-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-magang {
        padding: 65px 0;
        height: 175px;
    }


    .container-magang {
        padding: 10px 15px;
    }

    .magang1-left h1 {
        font-size: 1.6rem;
    }

    .magang1-left h1 span {
        font-size: 1.6rem;
    }

    .magang2-container {
        gap: 20px;
    }

    .title-magang {
        font-size: 22px;

    }

    .subtitle-magang {
        font-size: 26px;
    }

    .circle-magang {
        width: 25px;
        height: 25px;
    }

    .step-magang-conten {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .circle-magang::after {
        height: 260px;
    }
    .step-magang-conten h3 {
        font-size:14px;
    }
    .step-magang-conten p {
        font-size:10px;
    }


    .magang3-left h1 {
        font-size: 1.6rem;
    }

    .magang3-left h1 span {
        font-size: 1.6rem;
    }

}

/* @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(25px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fade-up {
    opacity: 0;
    animation: fadeInUp .8s ease forwards;
}
.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1s; }

@keyframes fadeLoop {
    0% { opacity: .3; }
    50% { opacity: 1; }
    100% { opacity: .3; }
}

.fade-loop {
    animation: fadeLoop 2.2s infinite ease-in-out;
}
@keyframes slideLeft {
    0% { opacity: 0; transform: translateX(-35px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideRight {
    0% { opacity: 0; transform: translateX(35px); }
    100% { opacity: 1; transform: translateX(0); }
}

.slide-left {
    opacity: 0;
    animation: slideLeft .8s ease forwards;
}

.slide-right {
    opacity: 0;
    animation: slideRight .8s ease forwards;
}
@keyframes zoomSoft {
    0% { opacity: 0; transform: scale(0.92); }
    100% { opacity: 1; transform: scale(1); }
}

.zoom-soft {
    opacity: 0;
    animation: zoomSoft .7s ease forwards;
} */
