.banner-studibanding {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}

.container-studibanding {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.studibanding1-container {
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.studibanding1-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.studibanding1-left h1 {
    font-weight: 700;
    font-size: 2.3rem;
    color: black;
}

.studibanding1-left h1 span {
    font-weight: 700;
    font-size: 2.3rem;
    color: #87c51d;
}
.studibanding1-right {
    width: 50%;
    
}


.studibanding1-right img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: .3s ease;
    cursor: pointer
}
.studibanding1-right img:hover{
    transform: scale(1.03);
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}

.studibanding2-container {
    padding: 50px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.studibanding2-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studibanding2-item img {
    width: 100%;
    height: 230px; 
    object-fit: cover;
    transition: .3s ease;
    border-radius: 15px;
    cursor: pointer;
}
.studibanding2-item img:hover{
    transform: scale(1.03);
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  
}

.studibanding3-container {
    padding: 50px 150px;

    background-image: linear-gradient(to bottom,  white,#F4FFF7,white);
}

.studibanding3-langkah {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    align-items: flex-start;

}

.title-studibanding {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.subtitle-studibanding {
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}

.step-studibanding {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;

}

.circle-studibanding {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 25px;
    position: relative;
    flex-shrink: 0;
}

.circle-studibanding::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 165px;
    background: black;
}

.step-studibanding:last-child .circle-studibanding::after {
    display: none;
}
.step-studibanding-conten {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.4s ease; 
    cursor: pointer;
    transform: translateY(0) scale(1);
}
.step-studibanding-conten:hover {
    transform: translateY(-8px) scale(1.03); 
    box-shadow: 0 12px 20px rgba(0,0,0,0.25); 
    background-color: #f9f9f9;
}


.step-studibanding-conten h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.step-studibanding p {
    width: 100%;
    line-height: 1.6;
    color: black;
}

.studibanding4-container {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.studibanding4-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.studibanding4-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.studibanding4-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.btn-studibanding-hijau {
    padding: 10px 30px;
    transition: .3s ease;
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}
.btn-studibanding-hijau:hover {
    transform: scale(1.05);
    background-color: #435325;
}
.btn-studibanding-hijau a {
    color: white;
    text-decoration: none;
}


/* Responsive */
@media (max-width: 992px) {
    .banner-studibanding{
        padding: 65px 0;
        height: 175px;
    }

    .studibanding1-left {
        width: 100%;

    }

    .studibanding1-left h1 {
        font-size: 2.2rem;
    }

    .studibanding1-left h1 span {
        font-size: 2.2rem;
    }

    .studibanding1-container,
    .studibanding2-container,
    .studibanding3-container,
    .studibanding4-container {
        padding: 30px 30px;
    }

    .studibanding1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .studibanding2-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .studibanding2-item img {
    width: 100%;
    height: auto;
    max-width: 450px;
}
    .studibanding2-item:nth-child(3) {
     grid-column: 1 / -1; 
    justify-content: center;
  }


    .studibanding3-langkah {
        padding: 0px 20px;
    }
    .circle-studibanding {
     
        width: 35px;
        height: 35px;
    }
    .circle-studibanding::after {
         height: 170px;
    }
}

@media (max-width: 768px) {

    .studibanding1-container,
    .studibanding2-container,
    .studibanding3-container,
    .studibanding4-container {
        padding: 30px 30px;
    }

    .studibanding1-left h1 {
        font-size: 2.0rem;
    }

    .studibanding1-left h1 span {
        font-size: 2.0rem;
    }

    .studibanding1-left,
    .studibanding1-right {
        width: 100%;
        text-align: center;
    }

    .studibanding2-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    .studibanding2-item img {
        width:340px;
        height: 230px;  
        object-fit: cover;
    }

        

    .circle-studibanding {

        width: 35px;
        height: 35px;

    }

    .circle-studibanding::after {
        height: 220px;
    }

    .studibanding4-container {
        display: flex;
        flex-direction: column;
    }

    .studibanding4-right,
    .studibanding4-left {
        width: 100%;
        text-align: center;
    }
     .studibanding4-left h1 {
        font-size: 2.0rem;
    }

    .studibanding4-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-studibanding {
        padding: 65px 0;
        height: 175px;
    }

    .container-studibanding {
        padding: 10px 15px;
    }

    .studibanding1-left h1 {
        font-size: 1.4rem;
    }

    .studibanding1-left h1 span {
        font-size: 1.4rem;
    }
    .studibanding2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .studibanding2-item img {
        width:280px;
        height: 160px;  
        object-fit: cover;
    }
    .studibanding3-container {
        gap: 20px;
    }
    .title-studibanding {
        font-size: 22px;

    }

    .subtitle-studibanding {
        font-size: 26px;
    }

    .circle-studibanding {
       width: 25px;
       height: 25px;
    }
     .step-studibanding-conten {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .circle-studibanding::after {
       height: 260px;
    }
    .step-studibanding-conten h3 {
        font-size:14px;
    }
    .step-studibanding-conten p {
        font-size:10px;
    }


    .studibanding4-left h1 {
        font-size: 1.6rem;
    }

    .studibanding4-left h1 span {
        font-size: 1.6rem;
    }

}