.banner-praktik{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}
.container-praktik{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}
.praktik1-container{
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.praktik1-left{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.praktik1-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color:black;
}
.praktik1-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    
    color: #87c51d;
}
.praktik1-right {
    width: 50%;
    
    
    
}

.praktik1-right img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.praktik2-container{
     padding: 50px 150px;

}
.praktik2-langkah{
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 0;
    align-items: flex-start;
}

.title-praktik{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}
.subtitle-praktik{
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}
.step-praktik{
    display: flex;
    align-items: flex-start;
    width: 100%; 
    max-width: 900px;
    
}
.circle-praktik{ 
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 25px;
    position: relative;
    flex-shrink: 0; 
}
.circle-praktik::after {
     content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 165px;
    background: black;
}
.step-praktik:last-child .circle-praktik::after {
    display: none;
}
.step-praktik-conten {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.4s ease; 
    cursor: pointer;
    transform: translateY(0) scale(1);
}
.step-praktik-conten:hover {
    transform: translateY(-8px) scale(1.03); 
    box-shadow: 0 12px 20px rgba(0,0,0,0.25); 
    background-color: #f9f9f9;
}
.step-praktik-conten h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}
.step-praktik p{
    width: 100%;
    line-height: 1.6;
    color: black;
}
.praktik3-container{
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.praktik3-left h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}
.praktik3-left h1 span{
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}
.praktik3-right{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}
.btn-praktik-hijau{
    padding: 10px 30px;
    
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}

@media (max-width: 992px) {
    .banner-praktik{
        padding: 65px 0;
        height: 175px;
    }


    .praktik1-left {
        width: 100%;
        
    }
    .praktik1-left h1 {
        font-size: 2.2rem;
    }

    .praktik1-left h1 span {
        font-size: 2.2rem;
    }

    .praktik1-container,
    .praktik2-container,
    .praktik3-container {
        padding: 30px 30px;
    }

    .praktik1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .praktik2-langkah {
        padding: 0px 20px;
    }
    .circle-praktik {

         width: 35px;
        height: 35px;

    }

    .circle-praktik::after {
        height: 170px;
    }
}

@media (max-width: 768px) {
    .praktik1-container,
    .praktik2-container,
    .praktik3-container {
       padding: 30px 30px; 
    }
    .praktik1-left h1 {
        font-size: 2.0rem;
    }

    .praktik1-left h1 span {
        font-size: 2.0rem;
    }
    

    .praktik1-left,
    .praktik1-right {
        width: 100%;
        text-align: center;
    }

    .circle-praktik {

         width: 35px;
        height: 35px;

    }

    .circle-praktik::after {
        height: 225px;
    }

    .praktik3-container {
        display: flex;
        flex-direction: column;
    }

    .praktik3-right,
    .praktik3-left {
        width: 100%;
        text-align: center;
    }
    .praktik3-left h1 {
        font-size: 2.0rem;
    }

    .praktik3-left h1 span {
        font-size: 2.0rem;
    }
}

@media (max-width: 480px) {
    .banner-praktik {
     padding: 65px 0;
    height: 175px;
    }

    .container-praktik {
        padding: 10px 15px;
    }

    .praktik1-left h1 {
        font-size: 1.4rem;
    }

    .praktik1-left h1 span {
        font-size: 1.4rem;
    }
    .praktik2-container {
        gap: 20px;
    }
    .title-praktik {
        font-size: 22px;

    }

    .subtitle-praktik {
        font-size: 26px;
    }

    .circle-praktik {
         width: 25px;
        height: 25px;
    }
     .step-praktik-conten {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .circle-praktik::after {
       height: 260px;
    }
     .step-praktik-conten h3 {
        font-size:14px;
    }
    .step-praktik-conten p {
        font-size:10px;
    }

    .praktik3-left h1 {
        font-size: 1.6rem;
    }

    .praktik3-left h1 span {
        font-size: 1.6rem;
    }

}


