.banner-penelitian {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 270px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
    text-align: center;
}

.container-penelitian {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.penelitian1-container {
    padding: 50px 150px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.penelitian1-left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.penelitian1-left h1 {
    font-weight: 700;
    font-size: 2.3rem;
    color: black;
}

.penelitian1-left h1 span {
    font-weight: 700;
    font-size: 2.3rem;

    color: #87c51d;
}
.penelitian1-right {
    width: 50%;
    
    
    
}

.penelitian1-right img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: .3s ease;
    cursor: pointer;

}
.penelitian1-right img:hover{
    transform: scale(1.03);
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  
}

.penelitian2-container {
    padding: 50px 150px;
    background-image: linear-gradient(to bottom,  white,#F4FFF7,white);

}

.penelitian2-langkah {
    padding: 50px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    align-items: flex-start;
}

.title-penelitian {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.subtitle-penelitian {
    text-align: center;
    font-size: 36px;
    color: #87c51d;
    font-weight: 700;
}

.step-penelitian {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;

}

.circle-penelitian {

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #303C1B;
    margin-right: 25px;
    position: relative;
    flex-shrink: 0;
}

.circle-penelitian::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 165px;
    background: black;
}

.step-penelitian:last-child .circle-penelitian::after {
    display: none;
}
.step-penelitian-conten {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.4s ease; 
    cursor: pointer;
    transform: translateY(0) scale(1);
}
.step-penelitian-conten:hover {
    transform: translateY(-8px) scale(1.03); 
    box-shadow: 0 12px 20px rgba(0,0,0,0.25); 
    background-color: #f9f9f9;
}

.step-penelitian-conten h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}


.step-penelitian p {
    width: 100%;
    line-height: 1.6;
    color: black;
}

.penelitian3-container {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.penelitian3-left h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.penelitian3-left h1 span {
    font-weight: 700;
    font-size: 2.5rem;
    color: #87c51d;
}

.penelitian3-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.btn-penelitian-hijau {
    padding: 10px 30px;
    display: flex;
    gap: 45px;
}
.penelitian3-right .btn-penelitian-hijau  .btn-penelitian a {
        color: white;
        text-decoration: none;
    }

.btn-penelitian {
    padding: 10px 30px;
    transition: .3s ease;
    display: flex;
    width: 230px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.btn-penelitian:hover {
    transform: scale(1.05);
    background-color: #435325;
}

@media (max-width: 992px) {
    .banner-penelitian{
        padding: 65px 0;
        height: 175px;
    }

    .penelitian1-left {
        width: 100%;

    }

    .penelitian1-left h1 {
        font-size: 2.2rem;
    }

    .penelitian1-left h1 span {
        font-size: 2.2rem;
    }

    .penelitian1-container,
    .penelitian2-container,
    .penelitian3-container {
        padding: 30px 30px;
    }

    .penelitian1-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .penelitian2-langkah {
        padding: 0px 20px;
    }
    .circle-penelitian {

       width: 35px;
        height: 35px;

    }

    .circle-penelitian::after {
        height: 170px;
    }

    .penelitian3-left h1 {
        font-size: 1.8rem;
    }

    .penelitian3-left h1 span {
        font-size: 1.8rem;
    }

    .btn-penelitian-hijau {
        padding: 10px 30px;
        display: flex;
        gap: 20px;
    }

    .btn-penelitian {
        width: 180px;
        font-size: 10px;
    }
}

@media (max-width: 768px) {

    .penelitian1-container,
    .penelitian2-container,
    .penelitian3-container {
        padding: 30px 30px;
    }

    .penelitian1-left h1 {
        font-size: 2.0rem;
    }

    .penelitian1-left h1 span {
        font-size: 2.0rem;
    }


    .penelitian1-left,
    .penelitian1-right {
        width: 100%;
        text-align: center;
    }

    .circle-penelitian {

        width: 35px;
        height: 35px;

    }

    .circle-penelitian::after {
        height: 225px;
    }

    .penelitian3-container {
        display: flex;
        flex-direction: column;
    }

    .penelitian3-right,
    .penelitian3-left {
        width: 100%;
        text-align: center;
    }

    .penelitian3-left h1 {
        font-size: 2.0rem;
    }

    .penelitian3-left h1 span {
        font-size: 2.0rem;
    }
    .btn-penelitian {
        width: 220px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .banner-penelitian {
    padding: 65px 0;
    height: 175px;
    }

    .container-penelitian {
        padding: 10px 15px;
    }

    .penelitian1-left h1 {
        font-size: 1.4rem;
    }

    .penelitian1-left h1 span {
        font-size: 1.4rem;
    }
    .penelitian2-container {
        gap: 20px;
    }

    .title-penelitian {
        font-size: 22px;

    }

    .subtitle-penelitian {
        font-size: 26px;
    }

    .circle-penelitian {
         width: 25px;
        height: 25px;
    }
    .step-penelitian-conten {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .circle-penelitian::after {
        height: 260px;
    }
    .step-penelitian-conten h3 {
        font-size:14px;
    }
    .step-penelitian-conten p {
        font-size:10px;
    }

    .penelitian3-left h1 {
        font-size: 1.4rem;
    }

    .penelitian3-left h1 span {
        font-size: 1.4rem;
    }

    .btn-penelitian-hijau {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    

    .btn-penelitian {
        width: 150px;
        font-size: 8px;
    }
}