/* MAIN BANNER SECTION */
.banner-beranda {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    /* width: 100%; */
    height: 60%;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
}

.banner-beranda,
.container-beranda {
    box-sizing: border-box;
}

.container-beranda {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.sub-tag {
    font-weight: 700;
    font-size: 20px;
}

.container-beranda .judul {
    font-weight: 700;
}

.btn-main {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.btn-main-hijau {
    padding: 10px 30px;
    background-color: #303C1B;
    color: white;
    border: 0;
    border-radius: 30px;
}

.btn-main-hijau a{
    text-decoration: none;
    color: white;
}

.btn-main-hijau2 {
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 4px solid #303C1B;
    border-radius: 30px;
}

.btn-main-hijau2 a{
    text-decoration: none;
    color: white;
}

/* MAIN  TENTANG SECTION*/
.tentang-beranda {
    padding: 60px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tentang-beranda .tentang-beranda-left {
    display: flex;
    gap: 20px;
    align-items: center;
}


.tentang-beranda .tentang-beranda-left .tentang-beranda-left-left {
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.tentang-beranda .tentang-beranda-left .tentang-beranda-left-left .image-dua {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}


/* MAIN LAYANAN SECTION */
.layanan-beranda {
    background-color: #ffffff;
    padding: 60px 150px;
}

.desc-layanan-beranda {
    display: flex;
    gap: 100px;
}

.desc-layanan-beranda h1 {
    font-weight: 700;
    font-size: 2.5rem;
    width: 100%;
}

.desc-layanan-beranda span {
    color: #87c51d;
}

.desc-layanan-beranda p {
    width: 100%;
}

.grid-layanan-beranda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
}

.layanan-child {
    border-radius: 20px;
    padding: 20px 0;
    display: flex;
    gap: 60px;
    align-items: center;
}

.layanan-child .layanan-child-desc {
    width: 50%;
}

.judul-layanan-child {
    font-weight: 700;
}

.layanan-child img {
    width: 40%;
    border-radius: 10px;
}

/* MAIN CONTACT BERANDA */

.contact-beranda {
    padding: 60px 150px;
}

.container-contact {
    display: flex;
    gap: 30px;
    width: 100%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-left .judul-contact {
    font-weight: 700;
}

.grid-contact-beranda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    gap: 20px;
}

.grid-contact-beranda input {
    width: 100%;
}

.tunggal-contact-beranda {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

.faq-section {
    background: #48692E;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 550px;
}

.faq-section h2 {
    font-size: 28px;
    font-weight: 700;
}

.faq-desc {
    margin: 10px 0 25px;
    opacity: 0.9;
}

.accordion-body {
    display: flex;
    color: black;
}

/* ============ RESPONSIVE TABLET (max-width: 992px) ============ */
@media (max-width: 992px) {

    .container-beranda,
    .tentang-beranda,
    .layanan-beranda,
    .testimoni-beranda,
    .contact-beranda {
        padding: 30px 30px;
    }

    .banner-beranda {
        padding: 75px 0;
    }

    .grid-layanan-beranda {
        grid-template-columns: repeat(2, 1fr);
    }

    .tentang-beranda {
        flex-direction: column;
        text-align: center;
    }

    .container-contact {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    .faq-section {
        max-width: 100%;
    }
}



/* ============ RESPONSIVE HP (max-width: 768px) ============ */
@media (max-width: 768px) {

    .container-beranda {
        padding: 20px 30px;
    }

    .btn-main {
        flex-direction: column;
        gap: 20px;
    }

    .tentang-beranda {
        padding: 40px 30px;
        flex-direction: column;
        text-align: center;
    }

    .grid-layanan-beranda {
        grid-template-columns: 1fr;
    }

    .layanan-child {
        flex-direction: column;

    }

    .layanan-child .layanan-child-desc {
        width: 100%;
    }

    .layanan-child img {
        width: 100%;
    }

    .testimoni-wrapper {
        padding: 10px;
    }

    .testimoni-card {
        width: 250px;
    }

    .container-contact {
        flex-direction: column;
        gap: 20px;
    }

    .grid-contact-beranda {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .grid-contact-beranda input {
        width: 100%;
    }

    .faq-section h2 {
        font-size: 22px;
    }
}

/* ============ RESPONSIVE HP KECIL (max-width: 480px) ============ */
@media (max-width: 480px) {

    .banner-beranda {
        padding: 100px 0;

    }

    .right-beranda img {
        width: 350px;
    }

    .container-beranda .sub-tag {
        font-size: 18px;
    }

    .container-beranda .judul {
        font-size: 22px;
    }

    .layanan-child {
        padding: 15px;
    }

    .testimoni-card {
        width: 220px;
        padding: 15px;
    }

    .desc-layanan-beranda {
        display: flex;
        gap: 50px;
        flex-direction: column;
        text-align: center;
    }
    .desc-layanan-beranda h1 {
        font-size: 1.5rem;
    }
}