.navbar{
    padding: 10px 50px;
    background-color: #303C1B;
}

.navbar .logo-sgh img{
    width: 100px;
}

.navbar .logo-polije img{
    width: 40px;
}

.navbar-nav{
    gap: 10px;
}

.navbar-nav .nav-item .nav-link{
    color: #ffffff;
    font-size: 1rem;
}

