.navbar-custom {
    background-color: #ffffffff !important;
    padding: 10px 30px;
}

.navbar-custom #logo-sgh img {
    width: 100px;
}

.navbar-custom #logo-polije img {
    width: 40px;
}

.navbar-custom .navbar-nav {
    gap: 10px;
}

.navbar-custom .nav-link {
    color: #000000 !important;
    font-size: 1rem;
}

.navbar-custom .nav-link:hover {
    color: #c7d8b2 !important; 
}

.navbar-custom .dropdown-menu {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.navbar-custom .dropdown-item {
    padding: 10px 15px;
}

.navbar-custom .dropdown-item:hover {
    background-color: #e7f1dc;
}

.navbar-custom .navbar-toggler-icon {
    filter: invert(1);
}
