.banner-produk {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/bannerfiks.jpg');
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    height: 200px;
    margin: 80px 20px 0 20px;
    border-radius: 20px;
}

.container-produk {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}


.produk-container {
    padding: 60px 150px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.produk-container .desc-produk {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.produk-container .desc-produk .desc-produk-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}
.produk-container .desc-produk .desc-produk-right {
    width: 60%;
}
.produk-container .desc-produk .desc-produk-right img {
    width: 100%;
}

.produk-container .desc-produk .desc-produk-left h2{
    font-weight: 700;
    font-size: 2.5rem;
}
.produk-container .desc-produk .desc-produk-left h2 span{
    font-style: italic;
    color: #6F8F41;
}
.desc-promo-produk{
    text-align: center;
}
.desc-promo-produk h2{
    font-weight: 700;
    font-size: 2.5rem;
}
.desc-promo-produk h2 span{
    font-style: italic;
    color: #6F8F41;
}


.grid-produk {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.produk-child {
    background-color: white;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.judul-produk-child {
    font-weight: 700;
}

.produk-child img {
    width: auto;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* BOX POPUP */
.popup-box {
    background: white;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

/* GRID POPUP */
.popup-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.popup-content img {
    max-width: 100%;
}

/* INFO PRODUK */
.popup-info h2 {
    font-size: 28px;
    font-weight: 700;
}

.popup-info .harga {
    font-size: 20px;
    color: #6F8F41;
    font-weight: 700;
    margin: 10px 0;
}

.btn-pesan {
    margin-top: 20px;
    background: #6F8F41;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* BUTTON CLOSE */
.popup-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
}


@media (max-width: 992px) {
    .banner-tentang {
        padding: 160px 0;
        height: 150px;
    }

    .desc-produk,
    .produk-container {
        padding: 10px 50px;
    }

    .profil-container .teks-item {
        padding: 10px 50px;
    }

    .desc-produk .btn-produk {
        flex-wrap: wrap;
        gap: 20px;
    }

    .grid-produk {
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }

    
    .popup-content img {
        width: 100%;
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .popup-content {
        flex-wrap: wrap;
    }
    .popup-content img {
        width: 100%;
        padding-top: 30px;
    }
}