.banner-produk{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 200px;
}
.container-produk{
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
}

.desc-produk{
    padding: 10px 150px;
    text-align: center;
    padding-top: 60px;
}
.desc-produk .btn-produk{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    gap: 30px;
}

.produk-container{
    padding: 10px 150px;
    margin-bottom: 50px;
}

.grid-produk {
    display: flex;
    gap: 20px; 
    padding: 20px; 
    justify-content: center;
}
.produk-child{
    background-color: white;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.judul-produk-child{
    font-weight: 700;
}
.produk-child img{
    width: 300px;
}