<nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
        <a href="" class="logo-sgh"><img src="/images/logo-sgh.png" alt="" srcset=""></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('/components/pages/main.html')">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('/components/pages/tentang.html')">Tentang</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mitraDropdown" role="button"
                    data-bs-toggle="dropdown">
                    Layanan
                </a>

                <ul class="dropdown-menu" aria-labelledby="mitraDropdown">
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan-magang.html')">Magang</a></li>
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan-penelitian.html')">Penelitian</a></li>
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan-praktik.html')">Praktik</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('/components/pages/produk.html')">Produk</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mitraDropdown" role="button"
                    data-bs-toggle="dropdown">
                    Mitra
                </a>

                <ul class="dropdown-menu" aria-labelledby="mitraDropdown">
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan1.html')">Layanan 1</a></li>
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan2.html')">Layanan 2</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mitraDropdown" role="button"
                    data-bs-toggle="dropdown">
                    Informasi
                </a>

                <ul class="dropdown-menu" aria-labelledby="mitraDropdown">
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan1.html')">Layanan 1</a></li>
                    <li><a class="dropdown-item" href="#" onclick="loadPage('pages/layanan2.html')">Layanan 2</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('/components/pages/galeri.html')">Galeri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('/components/pages/hubungi.html')">Hubungi Kami</a>
            </li>
        </ul>
        <a href="" class="logo-polije"><img src="/images/logo-polije.png" alt="" srcset=""></a>
    </div>
</nav>