<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="/images/logo-sgh.png" alt="Logo SGH" style="height: 50px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSGH">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSGH">
            <ul class="navbar-nav mx-auto gap-2">

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('/components/pages/main.html')">Beranda</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('/components/pages/tentang.html')">Tentang</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Layanan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/layanan-magang.html')">Magang</a></li>
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/layanan-penelitian.html')">Penelitian</a></li>
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/layanan-praktik.html')">Praktikum</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('/components/pages/produk.html')">Produk</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Mitra
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/mitra-daftar.html')">Daftar Mitra</a></li>
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/mitra-panduan.html')">Bennefit & Panduan</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Informasi
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/berita.html')">Berita</a></li>
                        <li><a class="dropdown-item" href="#"
                                onclick="loadPage('/components/pages/event.html')">Event</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('/components/pages/galeri.html')">Galeri</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('/components/pages/hubungi.html')">Hubungi Kami</a>
                </li>
            </ul>

            <a class="navbar-brand" href="#">
                <img src="/images/logo-polije.png" alt="Logo Polije" style="height: 50px;">
            </a>
        </div>

    </div>
</nav>