<section class="banner-berita">
    <div class="container-berita">
        <h1 class="judul">Berita</h1>
    </div>
</section>
<section>
    <div class="wadah-utama">

        <div class="card">
            <img src="images/berita/1.jpeg" alt="Gambar 1">
            <div class="card-content">
                <h3>POLIJE DAN PT EWINDO GELAR TANAM PERDANA BENIH MELON DI SMART GREEN HOUSE</h3>
                <p>Politeknik Negeri Jember (Polije) memulai kegiatan tanam perdana benih buah melon yang berlangsung di Teaching Factory (Tefa) Smart Green House</p>
            </div>
        </div>

        <div class="card">
            <img src="images/berita/6.jpg" alt="Gambar 2">
            <div class="card-content">
                <h3>POLITEKNIK NEGERI JEMBER SAMBUT KUNJUNGAN SMK BUDI UTOMO JOMBANG UNTUK KERJA SAMA SMART FARMING</h3>
                <p>Politeknik Negeri Jember (Polije) menerima kunjungan dari SMK Budi Utomo Jombang dalam rangka penandatanganan Memorandum of Understanding (MoU) terkait pendampingan</p>
            </div>
        </div>

        <div class="card">
            <img src="images/berita/7.jpg" alt="Gambar 3">
            <div class="card-content">
                <h3>JICA Kunjungi TePolije, Amati Inovasi Pembelajaran Berbasis Industri</h3>
                <p>Delegasi dari Japan International Cooperation Agency (JICA) melaksanakan kunjungan lapangan resmi ke sejumlah unit Teaching Factory (Tefa) di Politeknik Negeri</p>
            </div>
        </div>

        <div class="card">
            <img src="images/berita/8.jpeg" alt="Gambar 4">
            <div class="card-content">
                <h3>Polije Terapkan Fingerprint dan Pelatihan Budidaya Melon untuk Warga Rambipuji</h3>
                <p>Politeknik Negeri Jember (Polije) melaksanakan program pengabdian masyarakat 2025 dengan menerapkan sistem fingerprint di Unit Produksi dan Akuntansi (UPA) Pertanian</p>
            </div>
        </div>

        <div class="card">
            <img src="images/berita/9.jpg" alt="Gambar 5">
            <div class="card-content">
                <h3>POLIJE TERIMA KUNJUNGAN PONPES MODERN SMK DARUL HIKMAH, TINJAU LANGSUNG DUA TEACHING FACTORY UNGGULAN</h3>
                <p>Politeknik Negeri Jember (Polije) menerima kunjungan dari Pondok Pesantren (Ponpes) Modern SMK Darul Hikmah dalam rangka studi tiru ke Teaching</p>
            </div>
        </div>

        <div class="card">
            <img src="images/berita/5.jpg" alt="Gambar 6">
            <div class="card-content">
                <h3>DIRJEN SAINTEK KUNJUNGI POLIJE DORONG KOLABORASI DAERAH DAN PENGUATAN EKOSISTEM SAINS TEKNOLOGI</h3>
                <p>Politeknik Negeri Jember (Polije) menjadi tuan rumah dalam kunjungan Direktur Jenderal Sains dan Teknologi, Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi</p>
            </div>
        </div>

    </div>
</section>