<section class="banner-berita">
    <div class="container-berita">
        <h1 class="judul">Berita</h1>
    </div>
</section>
<section>
    <div class="page" id="beritaContainer"></div>
    <div class="pagination" id="pagination"></div>
</section>


<div id="popup-detail-berita" class="popup-overlay">
    <div class="popup-box">
        <span class="popup-close" onclick="tutupPopup()">×</span>

        <div class="popup-content">
            <img id="popup-img" src="" alt="">
            <div class="popup-info">
                <h2 id="popup-title"></h2>
                <p id="popup-desc"></p>
            </div>
        </div>
    </div>
</div>
