<section class="banner-galeri">
    <div class="container-galeri">
        <h1 class="judul">Galeri</h1>
    </div>
</section>
<section>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="images/galeri/satu.png" alt="Memetik Melon">
            <p class="caption">Memetik melon</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/dua.png" alt="Bangunan SGH">
            <p class="caption">Bangunan SGH</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/tiga.png" alt="Penelitian oleh mahasiswa">
            <p class="caption">penelitian oleh mahasiswa</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/empat.png" alt="Buah Melon">
            <p class="caption">buah melon</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/lima.png" alt="Kegiatan pembibitan tanaman">
            <p class="caption">kegiatan pembibitan tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/enam.png" alt="Pemeriksaan Tanaman">
            <p class="caption">Pemeriksaan Tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/tujuh.png" alt="Observasi Bibit Tanaman">
            <p class="caption">Observasi Bibit Tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/delapan.png" alt="kujungan KIMDIKSAINTEK">
            <p class="caption">kunjungan KIMDIKSAINTEK</p>
        </div>
        <div class="gallery-item">
            <img src="images/galeri/sembilan.png" alt="Observasi Tanaman">
            <p class="caption">Observasi Tanaman</p>
        </div>

    </div>
</section>