<section class="banner-galeri">
    <div class="container-galeri">
        <h1 class="judul">Galeri</h1>
    </div>
</section>
<section>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Memetik Melon">
            <p class="caption">Memetik melon</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Bangunan SGH">
            <p class="caption">Bangunan SGH</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Penelitian oleh mahasiswa">
            <p class="caption">penelitian oleh mahasiswa</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Buah Melon">
            <p class="caption">buah melon</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Kegiatan pembibitan tanaman">
            <p class="caption">kegiatan pembibitan tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Pemeriksaan Tanaman">
            <p class="caption">Pemeriksaan Tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Observasi Bibit Tanaman">
            <p class="caption">Observasi Bibit Tanaman</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="kujungan KIMDIKSAINTEK">
            <p class="caption">kunjungan KIMDIKSAINTEK</p>
        </div>
        <div class="gallery-item">
            <img src="images/image-1.jpg" alt="Observasi Tanaman">
            <p class="caption">Observasi Tanaman</p>
        </div>

    </div>
</section>