<section class="banner-magang">
    <div class="container-magang">
        <h1 class="judul">Layanan - Magang</h1>
    </div>
</section>
<section>
    <div class="magang1-container">
        <div class="magang1-item" >
            <img src="images/magang/gambar1.png" alt="gambar1">
        </div>
        <div class="magang1-item" >
            <img src="images/magang/gambar2.png" alt="gambar2">
        </div>
        <div class="magang1-item" >
            <img src="images/magang/gambar3.png" alt="gambar3">
        </div>
     </div>
</section>
<section class="magang2">
    <div class="magang2-container">
        <div class="left-magang">
            <p>Program Magang di Smart Green House merupakan kesempatan bagi mahasiswa untuk memperoleh 
            pengalaman langsung dalam penerapan teknologi pertanian modern berbasis Internet of Things (IoT). 
            Melalui kegiatan ini, peserta akan belajar bagaimana sistem otomatisasi digunakan untuk memantau kondisi lingkungan, mengatur penyiraman tanaman,
            serta mengoptimalkan pertumbuhan tanaman secara berkelanjutan.
            Selama program berlangsung, peserta magang akan terlibat dalam berbagai aktivitas praktis seperti:
            </p>
            <ul>
                <li>Instalasi dan kalibrasi sensor suhu, kelembapan, dan intensitas cahaya. </li>
                <li>Pemrograman mikrokontroler dan integrasi data ke sistem monitoring berbasis web. </li>
            </ul>
            <p>Selain keterampilan teknis, program magang juga menanamkan nilai kolaboratif dan problem solving, di
            mana mahasiswa diajak bekerja dalam tim lintas jurusan — seperti teknologi informasi, pertanian,
            dan teknik elektro — untuk menciptakan solusi nyata dalam dunia pertanian digital.</p>
        </div>
        <div class="right-magang">
            <button class="btn-right-magang">Jadwal Kegiatan</button>
            <button class="btn-right-magang">Sop</button>
            <button class="btn-right-magang">panduan</button>

        </div>

    </div>
</section>