<section class="banner-magang">
    <div class="container-magang">
        <h1 class="judul">Layanan - Magang</h1>
    </div>
</section>
<section>
    <div class="magang1-container">
        <div class="magang1-left">
            <h1>Magang <br><span>Berdampak di <br></span>Smart Green House</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Placerat integer tortor amet tellus.
                A risus nibh cursus diam varius id faucibus. Egestas amet natoque sit orci ut elit.
                Nam at bibendum vitae commodo donec.</p>
        </div>
        <div class="magang1-right d-none d-lg-block">
            <img src="images/magang/gambar1.png" alt="1">
        </div>
    </div>

</section>
<section>
    <div class="magang2-container">
        <h1 class="title-magang">Prosedur Pengajuan</h1>
        <h2 class="subtitle-magang">Magang</h2>
        <div class="magang2-langkah">
            <div class="step">
                <div class="circle-magang"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle-magang"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle-magang"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle-magang"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="magang3-container">
        <div class="magang3-left">
            <h1>Silahakan <span>Kirim <br>Pengajuan </span>Anda <br>Di sini</h1>
        </div>
        <div class="magang3-right">
            <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran, penelitian, dan pengembangan
                teknologi pertanian modern berbasis sistem Smart Greenhouse. Melalui</p>
            <button class="btn-magang-hijau"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfrO2NAAAqw_wMqpcwzs3nfoDZU5uSGfuP81VHG4q_61zAHDw/viewform?usp=publish-editor">Goggle Form</a></button>
            
        </div>
    </div>

</section>