<section class="banner-penelitian">
    <div class="container-penelitian">
        <h1 class="judul">Layanan - Penelitian</h1>
    </div>
</section>
<section>
    <div class="penelitian1-container">
        <div class="penelitian1-left">
            <h1>Layanan <span>penelitian</span> <br>yang Dihadirkan oleh <br><span>Smart Green House</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur. Placerat integer tortor amet tellus.
                A risus nibh cursus diam varius id faucibus. Egestas amet natoque sit orci ut elit.
                Nam at bibendum vitae commodo donec.</p>
        </div>
        <div class="penelitian1-right d-none d-lg-block">
            <img src="images/magang/gambar1.png" alt="1">
        </div>
    </div>

</section>
<section>
    <div class="penelitian2-container">
        <h2 class="title">Prosedur Pengajuan</h2>
        <h1 class="subtitle">Penelitian</h1>
        <div class="penelitian2-langkah">
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="penelitian3-container">
        <div class="penelitian3-left">
            <h1>Silahakan Unduh <br> <span>Dokumen Pengajuan </span><br>dan <span>Kirim Pengajuan</span> <br>Anda Di sini</h1>
        </div>
        <div class="penelitian3-right">
            <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran, penelitian, dan pengembangan
                teknologi pertanian modern berbasis sistem Smart Greenhouse. Melalui</p>
            
            <div class="btn-penelitian-hijau" >
                 <button class="btn-penelitian">Dokumen Pengajuan</button>
                 <button class="btn-penelitian">Google Form</button>
            </div>  
        </div>
    </div>

</section>