<section class="banner-penelitian">
    <div class="container-penelitian">
        <h1 class="judul">Layanan - Penelitian</h1>
    </div>
</section>
<section>
    <div class="penelitian-container">
        <div class="paragraf-item">
            <p>Smart Green House Politeknik Negeri Jember menyediakan fasilitas penelitian modern yang dirancang untuk mendukung kegiatan riset di bidang pertanian digital. Melalui sistem berbasis Internet of Things (IoT), peneliti dapat mengamati dan mengontrol kondisi lingkungan tanaman secara real time, seperti suhu, kelembapan, intensitas cahaya, serta nutrisi.</p> <br>
            <p>Kegiatan penelitian di sini mencakup pengembangan teknologi sensor, sistem penyiraman otomatis, hingga penerapan kecerdasan buatan untuk meningkatkan produktivitas pertanian berkelanjutan. Smart Green House terbuka bagi mahasiswa, dosen, maupun mitra eksternal yang ingin berkolaborasi dalam inovasi pertanian cerdas.</p>
        </div>
        <div class="foto-item">
            <img src="images/galeri/satu.png" alt="penelitian">
        </div>
    </div>
</section>
<section>
    <div class="fasilitas-container">
        <div class="fasilitas-item">
            <h2>FASILITAS</h2>        
        </div>
        <div class="fasilitasgaleri-item" alt="Pengairan otomatis">
            <img src="images/fasilitas/smart-farming 1.png">
            <p class="caption">PENGAIRAN OTOMATIS</p>
        </div>
        <div class="fasilitasgaleri-item">
            <img src="images/fasilitas/metering 1.png" alt="Sensor Canggih">
            <p class="caption">SENSOR CANGGIH</p>
        </div>
        <div class="fasilitasgaleri-item" alt="Pencahayaan Otomatis">
            <img src="images/fasilitas/artificial-light 1.png">
            <p class="caption">PENCAHAYAAN OTOMATIS</p>
        </div>
        <div class="fasilitasgaleri-item" alt="Sistem Kontrol Iklim">
            <img src="images/fasilitas/temperature-sensor 1.png">
            <p class="caption">SISTEM KONTROL IKLIM</p>
        </div>
    </div>
</section>
<section>
    <div class="foto-container">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="btn-penelitian">
        <button type="submit"><a href=""><i class="fa-solid fa-download"> donlot</i></a></i></button>
        <button type="submit"><a href=""><i class="fa-solid fa-download"> donlot</i></a></i></button>
        <button type="submit"><a href=""><i class="fa-solid fa-download"> donlot</i></a></i></button>
    </div>
</section>