<section class="banner-praktik">
    <div class="container-praktik">
        <h1 class="judul">Layanan - Praktikum</h1>
    </div>
</section>
<section>
    <div class="praktik1-container">
        <div class="praktik1-left">
            <h1>Layanan <span>Praktikum</span> <br>yang Dihadirkan oleh <br><span>Smart Green House</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur. Placerat integer tortor amet tellus.
                A risus nibh cursus diam varius id faucibus. Egestas amet natoque sit orci ut elit.
                Nam at bibendum vitae commodo donec.</p>
        </div>
        <div class="praktik1-right">
            <img src="images/magang/gambar1.png" alt="1">
        </div>
    </div>

</section>
<section>
    <div class="praktik2-container">
        <h2 class="title">Prosedur Pengajuan</h2>
        <h1 class="subtitle">Praktikum</h1>
        <div class="praktik2-langkah">
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
            <div class="step">
                <div class="circle"></div>
                <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran,
                    penelitian, dan pengembangan teknologi pertanian modern berbasis sistem Smart Greenhouse.</p>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="praktik3-container">
        <div class="praktik3-left">
            <h1>Silahakan <span>Kirim <br>Pengajuan </span>Anda <br>Di sini</h1>
        </div>
        <div class="praktik3-right">
            <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran, penelitian, dan pengembangan
                teknologi pertanian modern berbasis sistem Smart Greenhouse. Melalui</p>
            <button class="btn-praktik-hijau">Google Form</button>
            
        </div>
    </div>

</section>