<section class="banner-beranda">
    <div class="container-beranda">
        <div class="desc-main">
            <p class="sub-tag">Selamat Datang</p>
            <h1 class="judul">SMART GREEN HOUSE</h1>
            <h1 class="judul">POLITEKNIK NEGERI JEMBER</h1>
            <p>Smart Green House Politeknik Negeri Jember merupakan inovasi pertanian modern berbasis teknologi yang
                dirancang untuk mendukung kegiatan pembelajaran, penelitian, serta pengabdian masyarakat. Kami berfokus
                pada
                sistem pertanian berkelanjutan yang efisien, ramah lingkungan, dan berbasis Internet of Things (IoT).
            </p>
        </div>
        <div class="btn-main">
            <button class="btn-main-hijau">Selengkapnya</button>
            <button class="btn-main-hijau2">Hubungi Kami</button>
        </div>
    </div>
</section>
<section class="tentang-beranda">
    <div class="left-beranda">
        <p class="sub-tag">Tentang Kami</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ipsam impedit, magni consectetur
            repudiandae atque autem odit aut ducimus a ab. Laudantium corporis alias totam magni.</p>
        <button type="submit">Selengkapnya</button>
    </div>
    <div class="right-beranda">
        <img src="" alt="" srcset="">
    </div>
</section>