<section class="banner-beranda">
    <div class="container-beranda">
        <div class="desc-main">
            <p class="sub-tag">Selamat Datang</p>
            <h1 class="judul">SMART GREEN HOUSE</h1>
            <h1 class="judul">POLITEKNIK NEGERI JEMBER</h1>
            <p>Smart Green House Politeknik Negeri Jember merupakan inovasi pertanian modern berbasis teknologi yang
                dirancang untuk mendukung kegiatan pembelajaran, penelitian, serta pengabdian masyarakat. Kami berfokus
                pada
                sistem pertanian berkelanjutan yang efisien, ramah lingkungan, dan berbasis Internet of Things (IoT).
            </p>
        </div>
        <div class="btn-main">
            <button class="btn-main-hijau">Selengkapnya</button>
            <button class="btn-main-hijau2">Hubungi Kami</button>
        </div>
    </div>
</section>
<section class="tentang-beranda">
    <div class="left-beranda">
        <p class="sub-tag">Tentang Kami</p>
        <p>Smart Green House adalah fasilitas pertanian cerdas yang dikelola oleh Politeknik Negeri Jember. Sistem ini
            memanfaatkan teknologi otomatisasi seperti sensor suhu, kelembapan, serta penyiraman otomatis untuk memantau
            dan mengontrol pertumbuhan tanaman secara real time.
            Tujuan utama kami adalah mengembangkan inovasi pertanian modern, mendukung penelitian mahasiswa, serta
            menjadi pusat pembelajaran teknologi pertanian digital di Indonesia.
        </p>
        <button class="btn-main-hijau">Selengkapnya</button>
    </div>
    <div class="right-beranda">
        <img src="/images/image-1.jpg" alt="" srcset="">
    </div>
</section>
<section class="layanan-beranda">
    <div class="desc-layanan-beranda">
        <p class="subtag">Layanan</p>
        <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran, penelitian, dan pengembangan
            teknologi pertanian modern berbasis sistem Smart Greenhouse. Melalui layanan ini, kami berkomitmen untuk
            menciptakan lingkungan belajar yang inovatif dan aplikatif bagi mahasiswa maupun masyarakat.</p>
    </div>
    <div class="grid-layanan-beranda">
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="">Layanan Magang</p>
            <p>Kesempatan belajar langsung mengelola sistem Smart Greenhouse.</p>
        </div>
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="">Layanan Praktikum</p>
            <p>Kegiatan praktik mahasiswa dengan teknologi pertanian cerdas.</p>
        </div>
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="">Layanan Penelitian</p>
            <p>Fasilitas riset dan inovasi di bidang Smart Greenhouse.</p>
        </div>
    </div>
</section>