<section class="banner-beranda">
    <div class="container-beranda">
        <div class="desc-main">
            <p class="sub-tag">Selamat Datang</p>
            <h1 class="judul">SMART GREEN HOUSE</h1>
            <h1 class="judul">POLITEKNIK NEGERI JEMBER</h1>
            <p>Smart Green House Politeknik Negeri Jember merupakan inovasi pertanian modern berbasis teknologi yang
                dirancang untuk mendukung kegiatan pembelajaran, penelitian, serta pengabdian masyarakat. Kami berfokus
                pada
                sistem pertanian berkelanjutan yang efisien, ramah lingkungan, dan berbasis Internet of Things (IoT).
            </p>
        </div>
        <div class="btn-main">
            <button class="btn-main-hijau">Selengkapnya</button>
            <button class="btn-main-hijau2">Hubungi Kami</button>
        </div>
    </div>
</section>
<section class="tentang-beranda">
    <div class="left-beranda">
        <p class="sub-tag">Tentang Kami</p>
        <p>Smart Green House adalah fasilitas pertanian cerdas yang dikelola oleh Politeknik Negeri Jember. Sistem ini
            memanfaatkan teknologi otomatisasi seperti sensor suhu, kelembapan, serta penyiraman otomatis untuk memantau
            dan mengontrol pertumbuhan tanaman secara real time.
            Tujuan utama kami adalah mengembangkan inovasi pertanian modern, mendukung penelitian mahasiswa, serta
            menjadi pusat pembelajaran teknologi pertanian digital di Indonesia.
        </p>
        <button class="btn-main-hijau">Selengkapnya</button>
    </div>
    <div class="right-beranda">
        <img src="/images/image-1.jpg" alt="" srcset="">
    </div>
</section>
<section class="layanan-beranda">
    <div class="desc-layanan-beranda">
        <p class="sub-tag">Layanan</p>
        <p>Kami menyediakan berbagai layanan yang mendukung kegiatan pembelajaran, penelitian, dan pengembangan
            teknologi pertanian modern berbasis sistem Smart Greenhouse. Melalui layanan ini, kami berkomitmen untuk
            menciptakan lingkungan belajar yang inovatif dan aplikatif bagi mahasiswa maupun masyarakat.</p>
    </div>
    <div class="grid-layanan-beranda">
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-layanan-child">Layanan Magang</p>
            <p>Kesempatan belajar langsung mengelola sistem Smart Greenhouse.</p>
        </div>
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-layanan-child">Layanan Praktikum</p>
            <p>Kegiatan praktik mahasiswa dengan teknologi pertanian cerdas.</p>
        </div>
        <div class="layanan-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-layanan-child">Layanan Penelitian</p>
            <p>Fasilitas riset dan inovasi di bidang Smart Greenhouse.</p>
        </div>
    </div>
</section>
<section class="testimoni-beranda">
    <div class="desc-testimoni-beranda">
        <p class="sub-tag">Testimoni</p>
        <p>Beragam pengalaman positif dari mahasiswa dan pengguna yang telah merasakan manfaat teknologi Smart
            Greenhouse. Sistem ini membantu meningkatkan efisiensi, produktivitas, dan kemudahan dalam pengelolaan
            pertanian modern.</p>
    </div>
    <div class="testimoni-wrapper">
        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>

        <div class="testimoni-card">
            <img src="/images/user_logo.png" alt="">
            <p class="judul-testimoni">Mohammad Surya Revalino <br> Mahasiswa IT</p>
            <p>“Saya terkesan dengan teknologi smart greenhouse ...”</p>
        </div>
    </div>
</section>
<section class="contact-beranda">
    <div class="container-contact">
        <div class="contact-left">
            <h2 class="judul-contact">KONSULTASI GRATIS</h2>
            <p>Dapatkan layanan konsultasi gratis seputar teknologi Smart Greenhouse. Tim kami siap membantu menjawab
                pertanyaan Anda mengenai sistem, instalasi, maupun pengelolaannya.</p>
            <form action="" method="post">
                <div class="grid-contact-beranda">
                    <div>
                        <label for="">Nama</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">Email</label>
                        <input type="text" name="" id="">
                    </div>
                </div>
                <div class="tunggal-contact-beranda">
                    <label for="">Pesan</label>
                    <textarea name="" id="" cols="20" rows="10"></textarea>
                </div>

                <button type="submit" class="btn-main-hijau">Kirim</button>
            </form>
        </div>
        <div class="faq-section">
            <h2>FAQ SMART<br>GREEN HOUSE</h2>
            <p class="faq-desc">
                Temukan jawaban dari pertanyaan yang sering diajukan tentang sistem Smart Greenhouse Politeknik Negeri
                Jember.
                Pelajari manfaat, cara kerja, serta perawatan teknologi pertanian cerdas ini.
            </p>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                            body.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                            body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                            body. Nothing more exciting happening here in terms of content, but just filling up the
                            space to make it look, at least at first glance, a bit more representative of how this would
                            look in a real-world application.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>