<section class="banner-panduan">
    <div class="container-panduan">
        <h1 class="judul">Kemitraan - Benefit dan Panduan Kemitraan</h1>
    </div>
</section>

<section class="panduan-container">
    <div class="desc-panduan">
        <p>Smart Green House Politeknik Negeri Jember membuka peluang kemitraan bagi berbagai pihak yang ingin
            berkolaborasi dalam pengembangan teknologi pertanian digital. Melalui program ini, kami berkomitmen untuk
            membangun ekosistem pertanian cerdas yang produktif, efisien, dan berkelanjutan. Kemitraan ini dirancang
            agar setiap mitra — baik dari kalangan industri, instansi pendidikan, maupun komunitas petani modern — dapat
            saling berbagi pengetahuan, teknologi, serta sumber daya untuk mencapai tujuan bersama dalam meningkatkan
            kualitas dan daya saing sektor pertanian Indonesia</p>
    </div>
</section>

<section>
    <div class="icon-countainer">
        <div class="icon-panduan">
            <img src="images/profit 1.png" alt="icon-panduan">
            <p class="caption">Pendapatan</p>
        </div>
        <div class="icon-panduan">
            <img src="images/benefits 1.png" alt="icon-panduan">
            <p class="caption">Biaya Operasional</p>
        </div>
        <div class="icon-panduan">
            <img src="images/incentive 1.png" alt="icon-panduan">
            <p class="caption">Terjamin</p>
        </div>
        <div class="icon-panduan">
            <img src="images/diagram 1.png" alt="icon-panduan" width="100">
            <p class="caption">Pertumbuhan Berkelanjutan</p>
        </div>

    </div>
</section>

</section>
<div class="btn-panduan">

</div>
</section>