<section class="banner-daftar">
    <div class="container-daftar">
        <h1 class="judul">Kemitraan</h1>
    </div>
</section>

<section class="daftar-mitra">
    <div class="desc-daftar-mitra">
        <h1>Daftar <span>Mitra </span>yang Bekerja Sama dengan <span>Smart Green House</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur. Placerat integer tortor amet tellus. A risus nibh cursus diam varius id faucibus. Egestas amet natoque sit orci ut elit. Nam at bibendum vitae commodo donec.</p>
    </div>
</section>

<section class="mitra-ewindo">
    <div class="ewindo-card">

        <div class="circle-bg"></div>
        <div class="logo-circle">
            <img src="/images/mitra/logo-ewindo.png" alt="Logo EWINDO">
        </div>

        <div class="ewindo-right">
            <div class="ewindo-bg">
                <img src="/images/mitra/bg1.jpg" alt="BG">
                <div class="bg-gradient"></div>
            </div>

            <div class="ewindo-content">
                <h2>PT EAST WEST SEED INDONESIA <span>(EWINDO)</span></h2>
                <p>
                    PT EAST WEST SEED INDONESIA (EWINDO) adalah perusahaan benih sayuran terpadu pertama di Indonesia
                    yang memiliki komitmen sebagai Sahabat Petani yang Paling Baik. EWINDO menghasilkan benih sayuran
                    terbaik melalui pemuliaan tanaman yang didukung teknologi canggih untuk meningkatkan pendapatan
                    petani.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="keuntungan-mitra">
    <div class="desc-keuntungan-mitra">
        <h3>Keuntungan Bergabung Dalam </h3>
        <h1>Kemitraan Smart Green House</h1>
        <p>Smart Green House Politeknik Negeri Jember membuka peluang kemitraan bagi berbagai pihak yang ingin berkolaborasi dalam pengembangan teknologi pertanian digital. Melalui program ini, kami berkomitmen untuk membangun ekosistem pertanian cerdas yang produktif, efisien, dan berkelanjutan. Kemitraan ini dirancang agar setiap mitra, baik dari kalangan industri, instansi pendidikan, maupun komunitas petani modern — dapat saling berbagi pengetahuan, teknologi, serta sumber daya untuk mencapai tujuan bersama dalam meningkatkan kualitas dan daya saing sektor pertanian Indonesia</p>
    </div>
</section>