<section class="banner-produk">
    <div class="container-produk">
        <h1 class="judul">Produk</h1>
    </div>
</section>
<section class="desc-produk">
    <p>Di bawah ini tersedia beberapa produk unggulan SGH Polije yang mendukung inovasi pertanian modern dan ramah lingkungan.</p>
    <div class="btn-produk">
        <button class="btn-main-hijau">All</button>
        <button class="btn-main-hijau">Buah</button>
        <button class="btn-main-hijau">Sayur</button>
        <button class="btn-main-hijau">Benih</button>
    </div>
</section>
<section class="produk-container">
    <div class="grid-produk">
        <div class="produk-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-produk-child">Melon</p>
            <button class="btn-main-hijau">Detail Produk</button>
        </div>
        <div class="produk-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-produk-child">Melon</p>
            <button class="btn-main-hijau">Detail Produk</button>
        </div>
        <div class="produk-child">
            <img src="/images/image-1.jpg" alt="" srcset="">
            <p class="judul-produk-child">Melon</p>
            <button class="btn-main-hijau">Detail Produk</button>
        </div>
    </div>
</section>