<section class="banner-tentang">
    <div class="container-tentang">
        <h1 class="judul">Tentang Kami</h1>
    </div>
</section>
<section>
    <div class="profil-container">
        <div class="profil-container-left">
            <h1>Tentang <span>Smart Green House</span></h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam sequi possimus enim reiciendis, nobis
                molestias ut ipsum culpa error dolore.</p>
            <img src="/images/sect-tentang/tentang-beranda1.jpg" alt="" srcset="">
        </div>
        <div class="profil-container-right">
            <img src="/images/sect-tentang/tentang-beranda2.jpg" alt="" srcset="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequatur libero impedit quisquam
                provident reprehenderit numquam voluptatibus, ipsam cupiditate nemo iure. Hic tempora distinctio sint
                quae iusto eius numquam accusantium!</p>
        </div>
    </div>
</section>
<section class="visi-misi-section">
    <div class="visi-container">
        <div class="visi-misi-left">
            <h2><span>VISI & MISI</span> <br>SMART GREEN HOUSE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam hic enim aspernatur natus, id porro
                voluptatem
                magni quaerat sequi necessitatibus dolore cumque perferendis vero aperiam quis similique cupiditate fuga
                corporis.</p>
        </div>
        <div class="visi-misi-right">
            <div class="visi-top">
                <div class="visi-top-head">
                    <p><span>VISI</span> - SMART GREEN HOUSE</p>
                </div>
                <div class="visi-top-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repellendus maxime itaque dolores,
                        nam
                        reiciendis doloribus illum at laboriosam! Veniam.</p>
                </div>
            </div>
            <div class="visi-bottom">
                <div class="visi-bottom-head">
                    <p><span>MISI</span> - SMART GREEN HOUSE</p>
                </div>
                <div class="visi-bottom-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repellendus maxime itaque dolores,
                        nam
                        reiciendis doloribus illum at laboriosam! Veniam.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="struktur-container">
        <div class="struktur-item">
            <h2>STRUKTUR ORGANISASI</h2>
            <img src="images/banner.jpg">
        </div>
    </div>
</section>