<section class="banner-tentang">
    <div class="container-tentang">
        <h1 class="judul">Tentang Kami</h1>
    </div>
</section>
<section>
    <div class="profil-container">
        <div class="teks-item">
            <h2>Profil</h2>
            <p>Smart Green House adalah fasilitas pertanian cerdas yang dikelola oleh Politeknik Negeri Jember. 
                Sistem ini memanfaatkan teknologi otomatisasi seperti sensor suhu, kelembapan, 
                serta penyiraman otomatis untuk memantau dan mengontrol pertumbuhan tanaman secara real time. 
                Tujuan utama kami adalah mengembangkan inovasi pertanian modern, mendukung penelitian mahasiswa, 
                serta menjadi pusat pembelajaran teknologi pertanian digital di Indonesia. 
                Kami percaya bahwa penerapan teknologi dalam pertanian dapat meningkatkan efisiensi, produktivitas, 
                dan kualitas hasil panen secara signifikan.</p>
        </div>
        <div class="image-item">
            <img src="images/image-1.jpg" alt="fotopertama">
            <img src="images/image-1.jpg" alt="fotokedua">
            <img src="images/image-1.jpg" alt="fotoketiga">
        </div>
    </div>
</section>
<section>
    <div class="visi-container">
        <div class="visi-item">
            <h2>VISI</h2>
            <p>Menjadi pusat inovasi dan pembelajaran teknologi pertanian berbasis Smart Greenhouse yang unggul, 
                berkelanjutan, serta berkontribusi pada kemajuan pertanian digital di Indonesia.</p>
        </div>
        <div class="misi-item">
            <h2>MISI</h2>
            <p>1. Mengembangkan sistem pertanian modern berbasis IoT. <br>
                2. Meningkatkan kompetensi mahasiswa melalui praktik dan riset. <br>
                3. Mendorong kolaborasi antara kampus dan industri. <br>
                4. Mewujudkan pertanian digital yang berkelanjutan.</p>
        </div>
    </div>
</section>
<section>
    <div class="struktur-container">
        <div class="struktur-item">
            <h2>STRUKTUR ORGANISASI</h2>
            <img src="images/banner.jpg">
        </div>
    </div>
</section>